%h1 Listing product_models

%table.table.table-striped
  %tr
    %th Name
    %th Active
    %th

  - @product_models.each do |product_model|
    %tr
      %td= product_model.name
      %td= tick product_model.active
      %td= user_tools product_model

%br

= new_tool ProductModel
