%h1 Listando Banners
%br

%table.table.table-striped
  %tr
    %th Imagen
    %th Link
    %th

  - @banners.each do |banner|
    %tr
      %td= image_tag banner.image.thumb
      %td= link_to banner.link, banner.link
      %td= user_tools banner

%br

= new_tool Banner
