%h1 Listing banners

%table.table.table-striped
  %tr
    %th Image
    %th Link
    %th

  - @banners.each do |banner|
    %tr
      %td= image_tag banner.image
      %td= banner.link
      %td= user_tools banner

%br

= new_tool Banner
