.panel.panel-default
  .panel-heading
    %h3.panel-title= @user.name
  .panel-body
    %p
      %b Email:
      #{@user.email if @user.email}
    #mis-ordenes
    = link_to 'Edit account', edit_user_path, :class=>"btn btn-default"

.panel.panel-default
  .panel-heading
    %h3.panel-title Mis ordenes
  .panel.panel-body
    = render 'orders/index', :orders => @user.orders
