%h1 Detalle del pedido
%hr
= render 'order'
%br
.row
  .col-md-12
    = render 'summary'

%br
= button_to send_invoice_order_path(@order), :class=>"btn btn-success" do
  %span.glyphicon.glyphicon-share-alt
  Enviar invoice
%br
= list_tool Order
