.row
  .col-md-2
  .col-md-8.alert.alert-info
    %h1
      = "¡Gracias por tu compra #{@order.user.name}!"
    %hr

    - if @order.payment_type == Order::PAYMENT_TYPES["Depósito"]
      %h4.text-center
        Depósito:
        %hr
        Queda pendiente pagar con Deposito o Transferencia:
        %br
        Cuenta Corriente BCP - Infoservicios SAC
        %br
        CC Soles: 193-0000000-000 - CCI 00000000000000000000
        -# Te lo mandamos a tu correo.
    - elsif @order.payment_type == Order::PAYMENT_TYPES["Pago Contra entrega"]
      %h4.text-center
        Pago Contra entrega:
        %hr
        Disponible sólo para pedidos menores a S/.500 y
        %br
        dentro de los distritos de San Borja, San Isidro, Surco, La Molina y Miraflores.
        %br
        Se enviarán los productos luego de una confirmación vía telefónica o email.

    %hr
    = render 'summary'
    %p
      Su pedido se entregará en menos de 48 horas.
