%h1 Listando Páginas

%table.table.table-striped
  %tr
    %th Título
    %th ¿Activo?
    %th

  - @pages.each do |page|
    %tr
      %td= page.title
      %td= tick page.active
      %td= user_tools page

%br

= new_tool Page
