.product-listing-box{
  padding: 10px 4px;
  hr{ margin: 10px 0 }
}

/* ShoppingCart */
.cart-items-table{
  h2{ margin: 0 }
  .text{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
  }
}
