= simple_form_for(@category) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-6
      .form-inputs
        = f.input :name

      .form-actions
        = f.button :submit
