%h1 Listing categories

%table.table.table-striped
  %tr
    %th Name
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= user_tools category

%br

= new_tool Category
