%h1 Listando categorías

%table.table.table-striped
  %tr
    %th Nombre
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= user_tools category

%br

= new_tool Category
