.panel.panel-default.product-listing-box
  .row
    .col-md-12
      = link_to image_tag(product.image.listing), "#"
    .col-md-12
      %hr
    .col-md-12
      = link_to "Detalles", product
      = link_to "Personalizar", new_product_product_user_url(product), :class=>"btn btn-primary pull-right"
