.panel.panel-default.product-listing-box
  .row
    .col-md-12
      = link_to image_tag(product.image.listing), "#"
    .col-md-12
      %hr
    .col-md-12
      -# .col-md-5
      = link_to "Detalles", product
      -# .col-md-7
      = link_to "Personalizar", "#", :class=>"btn btn-primary pull-right"
