-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#navbar_top_navigation
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar_top", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to('Home', root_path, class: 'navbar-brand') if !current_user.present? || !current_user.has_role?(:admin)
    .collapse.navbar-collapse#navbar_top
      %div{class: "#{current_user.present? && current_user.has_role?(:admin) ? "col-md-7" : "col-md-6"}"}
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'
      .col-md-5
        %ul.nav.navbar-nav.navbar-right
          = render 'layouts/user_links'
